@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    background-color:  #171515;
    font-family: 'Montserrat', sans-serif ;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 153px;
    background-color:black ;
    padding: 24px;
}
.sidebar .logo img {
    width: 130px;
}
.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}
.sidebar .navigation ul li {
    padding: 10px 0px;
}
.sidebar .navigation ul li a {
    color: #b3b3b3 ;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: #ffffff;
}
.sidebar .navigation ul li .fa {
    color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
    font-size: 40px;
    margin-right: 30px;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
    color: #ffffff;
}
.sidebar .policies {
    position: absolute;
    bottom: 100px;
}
.sidebar .policies ul {
    list-style: none;
}
.sidebar .policies ul li {
    padding-bottom: 5px;
}
.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}
.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policiesul li a:focus {
    text-decoration: underline;
}

.main-container {
    margin-left: 200px;
    /*margin-bottom: 100px;*/
    background-color: #171515;
}
.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #0e0d0d;
    padding: 10px 30px;
}
.topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
    margin-top: 7px;
}
.topbar .navbar {
    display: flex;
    align-items: center;
}
.topbar .navbar ul {
    list-style: none;
}
.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
} 
.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    
}
.topbar .navbar ul li a:hover,
.topbar .navbar ul i a:active,
.topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
}
.topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
}
.topbar .navbar button {
    background-color: #ffffff;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 20px;
}
.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
    background-color: #f2f2f2;
}
.liked-songs-menu{
    padding: 20px 40px;
   
}
.liked-songs-menu h2 {
    color: #ffffff;
    font-size: 22px;
    margin-top: 45px;
    margin-bottom: 20px;
}
.liked-songs-menu p {
    font-size: 22px;
    color: #7a7a7a;
    text-align: center;   
}
.button {
    width: 100%;
    color: #7a7a7a;
    border: none;
    margin-top: 50px;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}